<div>
  <div style="display:inline-block; vertical-align:top;">
    <h1 style="margin-bottom: 0px;">Grab a Selfie</h1>
    <h2 style="margin-top: 0px;">Throw on a Moustache</h2>
  </div>

  <div style="display:inline-block; vertical-align:top;">
    <div style="padding-top:55px; padding-left:10px;">
      <a href="/">
        <button type="button" class="btn btn-default">Beer Me!</button>
      </a>
    </div>
  </div>
</div>

<% if @result['face_detection'].length == 0 %>
  <div>No vain, no gain.</div>
<% end %>

<% if @result['face_detection'].length > 0 %>
  <% @result['face_detection'].each_with_index do |face, index| %>
    <div>
      Moustache <%= index + 1 %> Confidence <%= face['confidence'].to_f * 100 %>%
    </div>
  <% end %>
<% end %>

<div style="vertical-align: center; padding-top: 5px;">
  <canvas id="myCanvas" width="<%= @result['ori_img_size']['width'] %>" height="<%= @result['ori_img_size']['height'] %>">
  </canvas>
</div>

<script>
  // json dump
  var data = <%= @result.to_json %>;
</script>

<script src="/javascript/drawmoustache.js"></script>
