<% if @result['face_detection'].length == 0 %>
  <div>No vain, no gain.</div>
<% end %>

<% if @result['face_detection'].length > 0 %>
  <% @result['face_detection'].each_with_index do |face, index| %>
    <div>
      Moustache <%= index + 1 %> Confidence <%= face['confidence'].to_f * 100 %>%
    </div>
  <% end %>
<% end %>

<div style="vertical-align: center; padding-top: 5px;">
  <canvas id="myCanvas" width="<%= @result['ori_img_size']['width'] %>" height="<%= @result['ori_img_size']['height'] %>">
  </canvas>
</div>

<script>
  // json dump
  var data = <%= @result.to_json %>;
</script>

<script src="/javascript/drawmoustache.js"></script>
